.titlefont{
    font-size: 12px;
}

.buttons{
    font-size: 12px;
}
.buttons:hover{
    filter: brightness(75%);
    transition: 0.3s;
}


.flow{
    overflow: hidden;
}

.flowall{
   box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
}

.cardimage:hover{
    transform: scale(1.1);
    transition: .2s;
    /* overflow: hidden; */
    filter: brightness(75%);
}

@media (min-width:1440px){
  .flow{
    width: 14rem;
  }
}

@media (max-width:767px){
    .flow{
        /* width: 14rem; */
       
    }
}


.spaned{
    color: red;
}
.spaned:hover{
    color: green;
    transition: .5s;
}