@media (min-width:768px){
      .flexibles{
         display: flex;
         column-gap: 30px;
      }
}

.forms label{
    padding-bottom: 10px;
}

.buttons:hover{
    background-color: #171f52 !important;
    transition: 0.5s;
}
.buttons{
    color: white !important;
}